<header>
  <div class="logo">
    <img src="/icons/Hacktualidad.png" alt="Hacktualidad Logo" />
    <h1><span class="hack">Hack</span><span class="tualidad">tualidad</span></h1>
  </div>

  <div class="hamburger" (click)="toggleMenu()" [class.active]="isMobileMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="others" [class.mobile-active]="isMobileMenuOpen">
    <nav>
      <a *ngIf="isLoggedIn" routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Inicio</a>
      <a *ngIf="isLoggedIn" routerLink="/shop" routerLinkActive="active" (click)="closeMenu()">Tienda</a>
      <a *ngIf="isLoggedIn" routerLink="/forum" routerLinkActive="active" (click)="closeMenu()">Foro</a>

      <a *ngIf="isLoggedIn" [routerLink]="profileLink" routerLinkActive="active" (click)="closeMenu()">Mi perfil</a>

      <a *ngIf="isLoggedIn" routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">
       CARRITO <span *ngIf="cartItemCount > 0" class="cart-count">[{{cartItemCount}}]</span>
      </a>

      <div class="auth-buttons">
        <a *ngIf="isLoggedIn" (click)="logout()" class="logout-btn">Cerrar Sesión</a>
        <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Iniciar Sesión</a>
      </div>
    </nav>
  </div>

  <div class="overlay" *ngIf="isMobileMenuOpen" (click)="closeMenu()"></div>
</header>
