<div class="panel-container">
  <div class="admin-management-panel">
    <h2 class="glitch" data-text="Panel de Gestión">Panel de Gestión</h2>
    <hr class="separator">

    <div class="management-section">
      <h3>// Gestión de Productos</h3>
      <div class="management-actions">
        <a routerLink="/profile/admin/products/create" class="admin-btn btn-create">Crear</a>
        <a routerLink="/profile/admin/products/list" class="admin-btn btn-edit">Modificar / Borrar</a>
      </div>
    </div>

    <div class="management-section">
      <h3>// Gestión de Usuarios</h3>
      <div class="management-actions">
        <button class="admin-btn btn-create">Crear</button>
        <button class="admin-btn btn-edit">Modificar</button>
        <button class="admin-btn btn-delete">Borrar</button>
      </div>
    </div>

    <div class="management-section">
      <h3>// Gestión del Foro</h3>
      <div class="management-actions">
        <button class="admin-btn btn-edit">Moderar Hilos</button>
        <button class="admin-btn btn-edit">Ver Reportes</button>
        <button class="admin-btn btn-delete">Borrar Post</button>
      </div>
    </div>

  </div>
</div>
