<div class="panel-container">
  <div class="admin-management-panel">
    <h2 class="glitch" data-text="Panel de Gestión">Panel de Gestión</h2>
    <hr class="separator">

    <div class="management-section">
      <h3>// Gestión de Productos</h3>
      <div class="management-actions">
        <a routerLink="/profile/admin/products/create" class="admin-btn btn-create">Crear</a>
        <a routerLink="/profile/admin/products/list" class="admin-btn btn-edit">Modificar / Borrar</a>
      </div>
    </div>

    <div class="management-section">
      <h3>// Gestión de Usuarios</h3>
      <div class="management-actions">
       <a routerLink="/profile/admin/users/create" class="admin-btn btn-create">Crear</a>
      <a routerLink="/profile/admin/users/list" class="admin-btn btn-edit">Modificar / Borrar</a>
      </div>
    </div>

    <div class="management-section">
      <h3>// Gestión de Categorias</h3>
      <div class="management-actions">
       <a routerLink="/profile/admin/categories/create" class="admin-btn btn-create">Crear</a>
        <a routerLink="/profile/admin/categories/list" class="admin-btn btn-edit">Modificar / Borrar</a>
      </div>
    </div>

    <div class="management-section">
      <h3>// Gestión del Foro</h3>
      <div class="management-actions">
        <a routerLink="/profile/admin/forum/topics/create" class="admin-btn btn-create">Crear Temática</a>
        <a routerLink="/profile/admin/forum/moderate" class="admin-btn btn-edit">Moderar Posts</a>
      </div>
    </div>

  </div>
</div>
