<div class="posibilidades-container">
  <h1 class="glitch-title">
    NUESTROS SERVICIOS // <span class="blink">EsTADO DEL SISTEMA: ONLINE</span>
  </h1>

  <div id="foro" class="posibilidad-card">
    <div class="img-wrapper">
      <img src="/images/foro.jpg" alt="Foro Hacking" />
      <div class="scan-line"></div>
    </div>
    <div class="card-content">
      <h3>FORO DE LA COMUNIDAD</h3>
      <div class="divider"></div>
      <p>
        Un entorno encriptado donde discutir <span class="highlight">topics</span> del mundo del
        <span class="hacking">hacking</span>. ¿Dudas sobre vulnerabilidades? Inicia el protocolo de
        comunicación.
      </p>
    </div>
  </div>

  <div id="venta" class="posibilidad-card reverse">
    <div class="img-wrapper">
      <img src="/images/productos.jpg" alt="Tienda Hacking" />
      <div class="scan-line"></div>
    </div>
    <div class="card-content">
      <h3>BLACK_MARKET</h3>
      <div class="divider"></div>
      <p>
        Hardware y Software de penetración al alcance de tu mano.<br />Explora nuestro inventario y
        adquiere las herramientas necesarias para la misión.
      </p>
    </div>
  </div>

</div>
