<div class="posibilidades-container">
  <h1>Echa un vistazo a los servicios que ofrecemos</h1>

  <div id="foro" class="posibilidad-card">
    <img src="/images/foro.jpg" alt="Imagen representativa del foro">
    <div class="card-content">
      <h3>Foro de la comunidad</h3>
      <p>Un maravilloso foro donde podrás discutir todo tipo de Topics del mundo del <span class="hacking">hacking</span>. ¿Alguna vez has tenido dudas sobre este maravilloso mundo? ¡Entra e infórmate! </p>
      <a routerLink="/forum" class="card-link">Entrar al foro</a>
    </div>
  </div>

  <div id="venta" class="posibilidad-card">
    <img src="/images/productos.jpg" alt="Imagen representativa de la tienda">
    <div class="card-content">
      <h3>Venta de Productos</h3>
      <p>Todos los productos de Hacking al alcance de tu man

        o (y de tu bolsillo). <br>Explora nuestra tienda y encuentra lo que necesitas.</p>
      <a routerLink="/tienda" class="card-link">Ir a la tienda</a>
    </div>
  </div>

  <div id="noticias" class="posibilidad-card" *ngIf="isLoggedIn">
    <img src="/images/perfil.jpg" alt="Imagen representativa de las noticias">
    <div class="card-content">
      <h3>Mi perfil</h3>
      <p>Accede a tu perfil y modifica tus datos <br> Recuerda protegerlos, los hackers pueden estar en cualquier lado </p>
      <a [routerLink]="profileLink" class="card-link">Ir a mi perfil</a>
    </div>
  </div>

</div>
