<div class="post-list-container">
  <div class="list-header">
    <h1 *ngIf="topicName">Posts en {{ topicName }}</h1>

    <div class="header-actions">
      <button (click)="goBack()" class="btn-back">
        <span>&lt; Volver al Foro</span>
      </button>

      <a *ngIf="topicName" [routerLink]="['/forum', topicName, 'create']" class="create-post-btn">
        <span>Crear Nuevo Post &gt;</span>
      </a>
    </div>
  </div>
  <div *ngIf="isLoading" class="loading">Cargando posts...</div>

  <div *ngIf="!isLoading && posts.length > 0" class="posts-grid">
    <div *ngFor="let post of posts" class="post-item" [routerLink]="['/posts', post.postId]">
      <div class="post-author-info">
        <img
          [src]="'http://localhost:8080/uploads/' + post.author.photo"
          [alt]="post.author.name"
          class="author-photo"
        />
        <span class="author-name">{{ post.author.name }}</span>
      </div>
      <div class="post-details">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-date">{{ post.publicationDate | date : 'short' }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && posts.length === 0" class="no-posts">
    <p>Aún no hay posts en este tema. ¡Sé el primero en crear uno!</p>
  </div>
</div>
