<div class="tematica-container">
  <h1>Elige una temática y sumérgete en busca de información</h1>

  <div class="grid-container">
    <a routerLink="/forum/redTeam" class="grid-item">
      <img src="/images/redTeam.jpeg" alt="Imagen representativa del foro">
      <span class="grid-text">RED TEAM</span>
    </a>

    <a routerLink="/forum/blueTeam" class="grid-item">
      <img src="/images/blueTeam.jpg" alt="Imagen representativa de la tienda">
      <span class="grid-text">BLUE TEAM</span>
    </a>

    <a routerLink="/forum/purpleTeam" class="grid-item">
      <img src="/images/purpleTeam.jpg" alt="Imagen representativa de las noticias">
      <span class="grid-text">PURPLE TEAM</span>
    </a>

    <a routerLink="/forum/tienda" class="grid-item">
      <img src="/images/hacking.jpg" alt="Imagen representativa de la cuarta opción">
      <span class="grid-text">OBJETOS DE LA TIENDA</span>
    </a>
  </div>
</div>
